body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.gridWrapper{
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  border-width: 1.5px;
  border-style: solid;
  background-color: black;
}

.gridSquare{
  position: relative;
  height: 27px;
  width: 27px;
  margin: 1.5px;
  border-width: 1.5px;
  background-color: #F0F8FF;
}

#toolbarWrapper{
  height: 600px;
  width: 300px;
  background-color: #F0F8FF;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}

#homeWrapper{
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 1000px;
}

#topPaneWrapper{
  display: flex;
  height: 150px;
  width: 300px;
  justify-content: space-around;
}

.wallContainer{
  margin-top: 62.5px;
}

.wall{
  margin-left: 1px;
  margin-top: 1px;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: black;
}

.crateContainer{
  margin-top: 62.5px;
}

.crate{
  margin-left: 1px;
  margin-top: 1px;
  z-index: 5;
  width: 25px;
  height: 25px;
  background-color: #A49480;
}

#modal{
  margin-top: 100px;
  z-index: 7;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  height: 400px;
  width: 200px;
  background-color: red;
}

#modalBackground{
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 6;
  width: 100vw;
  height: 100vh;
}
