body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.gridWrapper{
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.gridSquare{
  position: relative;
  height: 27px;
  width: 27px;
  margin: 1.5px;
  border-width: 1.5px;
  background-color: red;
}
